@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    overscroll-behavior: none;
  }
}

@layer components {
  .btn {
    @apply p-2 bg-white active:bg-bright-200 border-bright-500 dark:bg-dim-400 dark:border-dim-400 dark:active:bg-dim-300 disabled:opacity-50;
  }

  .label {
    @apply select-none text-bright-700 dark:text-dim-200;
  }
}